@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        'Satoshi', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@theme inline {
    /* red */
    --color-red-primary: var(--red-primary);

    /* indigo */
    --color-indigo-primary: var(--indigo-primary);

    /* elevation */
    --color-elevation-01dp: var(--elevation-01dp);

    /* text colors */
    --color-medium: var(--text-medium);
    --color-high: var(--text-high);

    /* fonts */
    --font-secondary: 'Cal Sans', sans-serif;
}

.font-secondary {
    font-family: var(--font-secondary);
}

/* text */
.text-3xs {
    font-size: var(--font-size-xxxs);
}

.text-2xs {
    font-size: var(--font-size-xxs);
}

.text-xs {
    font-size: var(--font-size-xs);
}

/* font weight */
.font-regular {
    font-weight: var(--font-weight-regular);
}

.font-medium {
    font-weight: var(--font-weight-medium);
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

/* line height */
.leading-default {
    line-height: var(--font-height-default);
}
.leading-xs {
    line-height: var(--font-height-xs);
}

@layer base {
    :root {
        /* red */
        --red-primary: #ff3838;

        /* indigo */
        --indigo-primary: #4f39f6;

        /* elevation */
        --elevation-01dp: #f7f8fc;

        /* text colors */
        --text-medium: #4f4f4f;
        --text-high: #0a0a09;

        /* text-sizes */
        --font-size-xxxs: 12px;
        --font-size-xxs: 14px;
        --font-size-xs: 16px;
        --font-size-sm: 20px;
        --font-size-md: 24px;
        --font-size-lg: 32px;
        --font-size-xl: 40px;
        --font-size-xxl: 44px;
        --font-size-xxxl: 48px;
        --font-size-xxxxl: 64px;
        --font-size-display: 80px;
        --font-size-giant: 96px;

        /* font-weight */
        --font-weight-regular: 400;
        --font-weight-medium: 500;
        --font-weight-bold: 700;

        /* leading */
        --font-height-default: 100%;
        --font-height-xs: 150%;
    }

    .dark {
        /* text colors */
        --text-medium: #9c9c9c;
        --text-high: #fdfdfd;

        /* elevation */
        --elevation-01dp: #1a1a1b;
    }
}
